/* Layout */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.search-layout {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.filter-panel {
  width: 300px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.filter-header {
  background: #7688b1;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  padding: 0 20px;
}

.filter-header h2 {
  margin: 0;
}

.filter-section {
  border-bottom: 1px solid #eee;
}

.filter-title {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-title:hover {
  background: #f0f0f0;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 20px;
}

.filter-content.open {
  max-height: 700px;
  padding: 15px 20px;
}

.filter-content input,
.filter-content select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.checkbox-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox-text {
  flex: 0 0 65%;
}

.checkbox-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.location-group {
  margin-bottom: 22px;
}

.location-group input,
.location-group select {
  margin-bottom: 8px;
}

/* RIGHT PANEL */
.results-panel {
  flex: 1;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#map {
  position: absolute;
  inset: 0;
}

/* ---------- MAP CONTROLS ---------- */

.maplibregl-ctrl-group button {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
}

.maplibregl-ctrl-icon {
  width: 28px;
  height: 28px;
  background-size: 28px 28px;
}

.maplibregl-ctrl-world img {
  width: 24px;
  height: 24px;
  display: block;
}

.maplibregl-ctrl-top-right .bbox-ctrl {
  margin-top: 12px;
}

.bbox-btn svg {
  width: 24px;
  height: 24px;
}

.bbox-btn.active {
  background: #1f1f1f;
  color: #fff;
}

.bbox-btn:hover {
  background: #f2f2f2;
}

.bbox-btn.active:hover {
  background: #111111;
}